# Dependencies
node_modules/

# VitePress build output
.vitepress/dist/
.vitepress/cache/
.vitepress/temp/

# Local env
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun-debug.log*

# IDE
.zed
.vscode
.idea
